<%= render "common/logo_nh_rs" %>

<div align="center">
  <br>
  <p class="hello-text"> Welcome! Find with us your new home! </p>
</div>
<br>

<div class="container"; align="center"; style="color: #494949">
  <h3><b> What do you want to look at? </b></h3>
  <br>
  <h3><b> Apartments: </b></h3>
  <br>
</div>

<div class="container">
  <div class="row div-index-buttons">
    <div class="col-sm-4">
      <button class="btn btn-info btn-lg shadow-lg rounded no-hyper index-button"><%= link_to "FOR SALE", offers_path(status: :for_sale) %></button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-warning btn-lg shadow-lg rounded no-hyper index-button"><%= link_to "FOR RENT", offers_path(status: :for_rent) %> </button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-success btn-lg shadow-lg rounded no-hyper index-button"><%= link_to "ALL OFFERS", offers_path %></button>
    </div>
  </div>
</div>
<br>
<br>
