<div class="container-logos">
  <div class="row">
    <div class="col">
      <button style="border: none; background: none">
        <%= link_to image_tag("logo_blue_thin_50x135_png.png", size: "405x150"), offers_path %>
      </button>
    </div>
    <div class="col">
      <center><%= image_tag("forsr_blue_50x228_png.png", size: "684x150", class: "float-right", alt: "logo") %></center>
    </div>
  </div>
</div>

<div class="container div-new">
  <h2 class="p-3 mb-2 bg-success text-white"><strong>Edit your offer:</strong></h2>
  <%= render 'form' %>
</div>

<div class="container">
  <br>
  <span style="font-size: 1.5em; color: CadetBlue;">
    <i class="fa fa-reply-all"></i>
  </span>
  <%= link_to 'Back to all offers', offers_path, class: "btn btn-info btn-lg" %>
  <p><br></p>
</div>
