<%= render "common/logo_nh_rs" %>

<div class="container div-new">
  <h4 class="p-3 mb-2 bg-success text-white"><strong>Add your offer:</strong></h4>
  <%= render 'form' %>
</div>
<p><br></p>

<%= render 'common/back' %>
