<div class="container" align="center">
  <span style="font-size: 1.1em; color: CadetBlue">
    <i class="fa fa-reply-all"></i>
  </span>
  <%= link_to 'Back to the main page', offers_path, class: "btn btn-info", style: "opacity: 0.85" %>
</div>
