<% if model.errors.any? %>
  <div>
    <h4>
      <%= pluralize(model.errors.count, 'error') %> prohibited this advertisement from being saved:
    </h4>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
